body{
    background-color: #eaf7ff;
}

h1{
    color:#0f766e;
    background-color: #ccfbf1;
    text-align: center;
    font-size: 30px;
}

.Menu{
    background-color: #e0f2fe;
    text-align: center;
}

.Menu a{
    color:#0369a1;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    
}

.Menu a:hover {
    background-color: #2f86f1;
    color:white;
}

.images{
    background-color: #eaf7ff;
    text-align: center;
}

.section{
    background-color: white;
}

h2{
    color:#155e75;
    font-size: 20px;
}

.services{
    background-color: white;
    font-size: medium;
    list-style-type: none;
}

.services li:hover{
    background-color: #9cd0f3;
    color:#0369a1;
}

.footer{
    text-align: center;
    background-color: #0f766e;
    color:white;
}


