h1{
    color:#0f766e;
    background-color: #ccfbf1;
    text-align: center;
    font-size: 30px;
}

.Menu{
    background-color: #e0f2fe;
    text-align: center;
}

.Menu a{
    color:#0369a1;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.Menu a:hover {
    background-color: #2f86f1;
    color:white;
}

form{
    text-align: center;
    background-color: #f8fafc;
    color:#0f766e;
    font-size: large;
    font-weight: bold;
}

.submit input[type="submit"]{
    background-color: #0ea5a4;
    color: white;
    cursor:pointer;
    font-weight: bold;
    font-size: large;
}

input:focus, select:focus, textarea:focus {
    outline: 1px solid black;
    background-color: #d3efe4;
}

.footer{
    text-align: center;
    background-color: #0f766e;
    color:white;
}