h1{
    color:#0f766e;
    background-color: #ccfbf1;
    text-align: center;
    font-size: 30px;
}

.Menu{
    background-color: #e0f2fe;
    text-align: center;
}

.Menu a{
    color:#0369a1;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.Menu a:hover {
    background-color: #2f86f1;
    color:white;
}

th{
    background-color: #bae6fd;
    color:#075985;
}

tr:hover {
    background-color: #daeef9;
}

.footer{
    text-align: center;
    background-color: #0f766e;
    color:white;
}

